{% extends 'base.html' %}
{% block content %}
{%load static%}
<main>
       <!-- Heading Page -->
       <section class="heading-page">
           <img src="{% static '' %}img/contact_bandeau_new.jpg" alt="">
           <div class="container">
               <div class="heading-page-content">
                   <div class="au-page-title">
                     <h1>Contactez-nous</h1>
                   </div>
                   <nav aria-label="breadcrumb">
                       <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                           <li class="breadcrumb-item active" aria-current="page">Contact</li>
                       </ul>
                   </nav>
               </div>
           </div>
       </section>

       <!-- Contact Info -->
       <section class="contact-info-two section-padding-large">
           <div class="container">
               <div class="contact-info-two-content">
                   <div class="row">
                       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                           <article class="item">
                               <span class="icon">
                                   <i class="fas fa-mobile-alt"></i>
                               </span>
                               <div class="info">
                                 <h3 class="title">Téléphone &amp; fax</h3>
                                 <p><span class="contact-phone">01 15 16 17 18 </span>
                   <span class="contact-phone">01 15 16 17 19</span></p>
                               </div>
                           </article>
                       </div>
                       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                           <article class="item">
                               <span class="icon">
                                   <i class="far fa-envelope"></i>
                               </span>
                               <div class="info">
                                 <h3 class="title">Adresse email</h3>
                                 <a href="mailto:info@smartedu.com" class="email">plateforme@lepoles.com</a></div>
                           </article>
                       </div>
                       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                           <article class="item">
                               <span class="icon">
                                   <i class="fas fa-map-marker-alt"></i>
                               </span>
                               <div class="info">
                                 <h3 class="title">Adresse postale</h3>
                                 <span class="address">11, allée Saint-Exupéry 9339 Villeneuve-la-Garenne</span></div>
                           </article>
                       </div>
                   </div>
               </div>
           </div>
       </section>

       <!-- Contact us -->
       <section class="gallery">
           <div class="container-fluid">
               <div class="gallery-content gallery-hover">
                   <div class="row">
                       <div class="col px-0">
                           <figure>
                               <a href="{% static ''%}img/carre_damien_santo.jpg" class="grouped_gallery" data-fancybox="gallery">
                                   <img src="{% static ''%}img/carre_damien_santo.jpg" alt="">
                               </a>
                           </figure>
                       </div>
                       <div class="col px-0">
                           <figure>
                               <a href="{% static ''%}img/utilisateur.jpg" class="grouped_gallery" data-fancybox="gallery">
                                   <img src="{% static ''%}img/utilisateur.jpg" alt="">
                               </a>
                           </figure>
                       </div>
          <div class="col px-0">
                           <figure>
                               <a href="{% static ''%}img/carre_lesly_poujaud_melot.jpg" class="grouped_gallery" data-fancybox="gallery">
                                   <img src="{% static ''%}img/carre_lesly_poujaud_melot.jpg" alt="">
                               </a>
                           </figure>
                       </div>
                       <div class="col px-0">
                           <figure>
                               <a href="{% static ''%}img/utilisateur.jpg" class="grouped_gallery" data-fancybox="gallery">
                                   <img src="{% static ''%}img/utilisateur.jpg" alt="">
                               </a>
                           </figure>
                       </div>
                       <div class="col px-0">
                           <figure>
                               <a href="{% static ''%}img/carre_papaoumar_mbaye.png" class="grouped_gallery" data-fancybox="gallery">
                                   <img src="{% static ''%}img/carre_papaoumar_mbaye.png" alt="">
                               </a>
                           </figure>
                       </div>

                   </div>
               </div>
           </div>
       </section>
   </main>
{% endblock %}
