{% extends 'base.html' %}
{% block content %}
{% load static%}
<main>
        <!-- Heading Page -->
        <section class="heading-page">
            <img src="{% static ''%}img/territoires_bandeau.jpg" alt="">
            <div class="container">
                <div class="heading-page-content">
                    <div class="au-page-title connexion">
                      <h1>{% if request.session.token %}
    <a class="nav-link" href="{% url 'profil' request.session.me.id %}"><i class="far fa-user"></i> {{ request.session.me.username }}</a></li>
{% endif %}
{% if not request.session.token %}
  {% if request.session.token %}
    <a class="nav-link" href="{% url 'profil' request.session.me.id %}"><i class="far fa-user"></i> {{ request.session.me.username }}</a></li>
{% endif %}
{% if not request.session.token %}
  <a href="{% url 'logIn' %}" class="login">Je me connecte</a>
{% endif %}
{% endif %}</h1>
                    </div>
                    <nav aria-label="breadcrumb" class="connexion">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Connexion</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

        <!-- Contact us -->
        <section class="contact-us section-padding-large">
            <div class="container">
                <div class="contact-us-content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="contact-us-info">
                                <h3 class="contact-title">
                                    {% if request.session.token %}
    <a class="nav-link" href="{% url 'profil' request.session.me.id %}"><i class="far fa-user"></i> {{ request.session.me.username }}</a></li>
{% endif %}
{% if not request.session.token %}
  {% if request.session.token %}
    <a class="nav-link" href="{% url 'profil' request.session.me.id %}"><i class="far fa-user"></i> {{ request.session.me.username }}</a></li>
{% endif %}
{% if not request.session.token %}
  <a href="{% url 'logIn' %}" class="login">Je me connecte</a>
{% endif %}
{% endif %}
                                </h3>
                                <div class="item">
                                    <i class="fas fa-home"></i>
                                    <span class="address-info">VOIR</span>
                                </div>
                                <div class="item phone-item">
                                    <i class="fas fa-mobile-alt"></i>
                                    <span class="contact-phone">VOIR</span>
                                </div>
                                <div class="item">
                                    <i class="far fa-clock"></i>
                                    <div class="time-info">
                                        <span>VOIR</span>
                                        <span>Voir</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="contact-form">
                                <h3 class="contact-title">Connectez-vous à la plateforme</h3>
                                <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>

                                  {% if user.is_authenticated %}
                                  Vous êtes connecté, {{ user.username }} !
                                 <p>
                                   <a href="{% url 'profil' user.id %}">Profil de {{ user.username }}</a>
                                 </p>

                                 <p><a href="{% url 'logOut' %}">Se déconnecter</a></p>

                                 {% else %}

                                 <form action="{% url 'logIn' %}" method="post">
                                   <div class="row">

                                     <div class="col-8">
                                       <label class="text-center mt-2"><b>Connexion</b></label>
                                     </div>
                                   </div>


                                   <div class="container">
                                     <label for="">{% csrf_token %} </label>
                                     <label for="">{{ form.as_p }}</label>
                             		  <p><a class="forgotten" href="{% url 'reset_password_create' %}">Mot de passe oublié ?</a></p>
                                     <input type="submit" value="Connexion" class="btn btn-block btn-danger"/>
                                    <h3 class="contact-title">Pas inscrit ? Par
                                       <a href="{% url 'signUp' %}">ici</a>
                                    </h3>
                                   </div>
                                 </form>
                                 {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<!-- galerie-->
        <section class="gallery">
            <div class="container-fluid">
                <div class="gallery-content gallery-hover">
                    <div class="row">
                        <div class="col px-0">
                            <figure>
                                <a href="{% static ''%}img/carre_damien_santo.jpg" class="grouped_gallery" data-fancybox="gallery">
                                    <img src="{% static ''%}img/carre_damien_santo.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="col px-0">
                            <figure>
                                <a href="{% static ''%}img/utilisateur.jpg" class="grouped_gallery" data-fancybox="gallery">
                                    <img src="{% static ''%}img/utilisateur.jpg" alt="">
                                </a>
                            </figure>
                        </div>
						<div class="col px-0">
                            <figure>
                                <a href="{% static ''%}img/carre_lesly_poujaud_melot.jpg" class="grouped_gallery" data-fancybox="gallery">
                                    <img src="{% static ''%}img/carre_lesly_poujaud_melot.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="col px-0">
                            <figure>
                                <a href="{% static ''%}img/utilisateur.jpg" class="grouped_gallery" data-fancybox="gallery">
                                    <img src="{% static ''%}img/utilisateur.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="col px-0">
                            <figure>
                                <a href="{% static ''%}img/carre_papaoumar_mbaye.png" class="grouped_gallery" data-fancybox="gallery">
                                    <img src="{% static ''%}img/carre_papaoumar_mbaye.png" alt="">
                                </a>
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
{% block javascript %}

<script>
  // gestion des champs générés par le template de django en anglais
  $('[for="id_pseudo"]').replaceWith('<label for="id_pseudo">Pseudo</label>');

  $('[for="id_password"]').replaceWith('<label for="id_password">Mot de passe</label>');
</script>
{% endblock %}
