{% extends 'base.html' %}

{%  block content %}
{%load static%}
<style>
  #map{
    width:870px !important;
    height:470px !important;
  }
</style>
<main>
        <!-- Heading Page -->
        <section class="heading-page">
            <img src="{% static '' %}img/bandeau_reseau.jpg" alt="">
            <div class="container">
                <div class="heading-page-content">
                    <div class="au-page-title posts">
                      <h1>Post : {{oneArticle.pk.title}}</h1>
                    </div>
                    <nav aria-label="breadcrumb" class="posts">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="#">Découvrir</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'toutes_les_capsules' %}">Post</a></li>
                            <li class="breadcrumb-item" aria-current="page">n° {{oneArticle.pk.id}}</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>


        <section class="single-course section-padding-large">
                    <div class="container">
                      <div class="section-title section-title-left wow slideInLeft" data-wow-delay="0.05s">
                          <h2>Post : {{oneArticle.pk.title}}</h2>
                        </div>
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 single-course-content">
                                <div class="single-title">

                                    <span class="price free">
                                      <i class="far fa-calendar"></i><span class="full_date" style="display: none;">{{oneArticle.pk.date}}</span>
                                      <span class="good_date"></span>
                                    </span>
                                </div>
                                <div class="single-course-info">
                                    <figure class="single-course-images">
                                      {% if oneArticle.pk.category == 2 %}
                                          <video controls id="video" src="{{oneArticle.pk.file}}" class="img-fluid w-100" width="870" height="450"></video>
                                      {% else %}
                                          <img class="img-fluid w-100" src="{{oneArticle.pk.file}}" alt="{{oneArticle.pk.title}}" width="870" height="450">
                                      {% endif %}
                                    </figure>
                                    <div class="course-teacher-cat display-flex">
                                        <div class="teacher-cat">
                                            <ul class="display-flex">
                                                <li class="display-flex">
                                                    <a href="#">
                                                        <img src="{{profile.picture}}" alt="{{oneArticle.pk.username}}">
                                                    </a>
                                                    <div class="teacher-cat-item">
                                                        <span>Auteur</span>
                                                        <a href="#">{{oneArticle.pk.username}}</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="teacher-cat-item">
                                                        <span>Catégorie</span>
                                                        <span class="category">
                                                          {% if oneArticle.pk.category == 1 %}
                                            							       <a href="{% url 'view_categorie' 1 %}">Image</a>
                                            							{% endif %}
                                            							{% if oneArticle.pk.category == 2 %}
                                            							       <a href="{% url 'view_categorie' 2 %}">Vidéo</a>
                                            							{% endif %}
                                            							{% if oneArticle.pk.category == 3 %}
                                            							       <a href="{% url 'view_categorie' 3 %}">Audio</a>
                                            							{% endif %}
                                            							{% if oneArticle.pk.category == 4 %}
                                            							       <a href="{% url 'view_categorie' 4 %}">Récit</a>
                                            							{% endif %}
                                                        </span>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="single-course-tab">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true"><i class="fas fa-map-marker-alt"></i>Sur la Carte</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false"><i class="fas fa-graduation-cap"></i>Description</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                            <div class="course-overview">
                                                <div class="course-desc">


                                                    <div id="map"></div>
                                                    <script type="text/javascript">
                                                      var lat = {{center.0}};
                                                      var lon = {{center.1}};
                                                      var macarte = null;
                                                      //var lat = document.getElementById('lat').value
                                                      //var lng = document.getElementById('lng').value
                                                      //console.log("lat : " + lat + " lng : " + lng)
                                                      function initMap() {
                                                          macarte = L.map('map').setView([lat, lon], 11);
                                                          L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                                                              attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                                                              minZoom: 1,
                                                              maxZoom: 20
                                                          }).addTo(macarte);
                                                          {% for marker in listMarker %}
                                                          var marker = L.marker([{{marker.0.0}},{{marker.0.1}}]).addTo(macarte);
                                                          marker.bindPopup("{{marker.1}}")
                                                          {% endfor %}
                                                      }
                                                      window.onload = function(){
                                                          initMap();
                                                      };
                                                    </script>
                                                </div>
                                            </div>
                                            <!-- MAP -->

                                        </div>


                                        <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                            <div class="instructor-content">
                                                <!-- <div class="instructor-thumb">
                                                    <a href="#">
                                                        <img src="{{profile.picture}}" alt="{{oneArticle.pk.username}}" width="210" height="210">
                                                    </a>
                                                </div> -->
                                                <div class="instructor-info">
                                                    <h4 class="title">
                                                        <a href="#">{{oneArticle.pk.title}}</a>
                                                    </h4>
                                                    <div class="categories">
                                                        <a href="#">{{oneArticle.pk.username}}</a>
                                                    </div>
                                                    <p class="desc">
                                                        {{oneArticle.pk.content}}
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="right-sidebar">
                                    <div class="widget-featured-course">
                                        <div class="widget-title">
                                          <h2>Infos</h2>
                                        </div>
                                        <ul>
                                            <li class="display-flex">
                                                <span><i class="far fa-calendar"></i></span><span class="good_date"></span>
                                            </li>
                                            <li class="display-flex">
                                                <span><i class="fas fa-book"></i></span>
                                                <span>{{oneArticle.pk.title}}</span>
                                            </li>
                                            <li class="display-flex">

                                                  {% if oneArticle.pk.category == 1 %}
                                                         <span><i class="fas fa-images"></i></i></span><span>Image</span>
                                                  {% endif %}
                                                  {% if oneArticle.pk.category == 2 %}
                                                         <span><i class="fas fa-film"></i></span><span>Vidéo</span>
                                                  {% endif %}
                                                  {% if oneArticle.pk.category == 3 %}
                                                         <span><i class="fas fa-podcast"></i></span><span>Audio</span>
                                                  {% endif %}
                                                  {% if oneArticle.pk.category == 4 %}
                                                         <span><i class="fas fa-quote-left"></i></span><span>Récit</span>
                                                  {% endif %}

                                            </li>
                                            <li class="display-flex">
                                                <span><i class="fas fa-hashtag"></i></span>
                                                <span>{{oneArticle.pk.views}} vues</span>
                                            </li>
                                            <li class="display-flex">
                                                <span><i class="fas fa-heart"></i></span>
                                                <span>{{oneArticle.pk.like}} j'aime</span>
                                            </li>
                                            {% if request.session.token %}
                                            <li class="display-flex">
                                                <button class="btn btn-block btn-secondary like">{{oneArticle.pk.like}} &nbsp; <i class="fa fa-thumbs-up"></i> </button>
                                            </li>
                                            {% endif %}
                                            {% if not request.session.token %}
                                            <li class="display-flex">
                                                <a class="signup like btn btn-block btn-secondary" href="{% url 'logIn' %}" title="Inscrivez-vous"><i class="fas fa-edit"></i>&nbsp;Je participe</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="widget_lastest_entries">
                                        <div class="widget-title">
                                          <h2>{{oneArticle.pk.username}} a également posté</h2>
                                        </div>
                                        <ul>

                                          {% for item in other_post %}
                                          <li>
                                                <figure>
                                                    <img src="{% static '' %}img/parcours.jpg" alt="{{item.title}}">
                                                </figure>
                                                <div class="info">
                                                    <h3 class="title">
                                                        <a href="{% url 'lire' item.id %}">{{item.title}}</a>
                                                    </h3>

                                                </div>
                                            </li>

                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="widget_signupform">
                                        <div class="sign-up-form">
                                            <div class="form-heading">
                                                <a href="{% url 'home' %}"><img src="{% static '' %}img/la_plateforme_03.png" alt="La plateforme vidéo du PoleS"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    </main>
<script>
      //2019-02-05T23:22:01.714652+01:00
      var full_date = $('.full_date').text();
      var short_date = full_date.slice(0,10);
      var array_date = short_date.split('-');
      var m_names = new Array("Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre");
      var nb_month = array_date[1];
      var month = parseInt(nb_month);
      // console.log(nb_month);
      var month_ok = month-1;
      console.log(m_names[month_ok]);
      var formated_date = array_date[2] + ' ' + m_names[month_ok] + ' ' + array_date[0];
      // console.log(full_date);
      // console.log(short_date);
      // console.log(array_date);
      // console.log(formated_date);

      $('.good_date').replaceWith('<span id=\"good_date\">Le ' + formated_date + '</span>');

      $(".like").click(function() {
          $.ajax({
              method:'POST',
              url: '{{ url }}/api/capsule/like/{{ oneArticle.pk.id }}/',
              headers: {'Authorization': '{{ header }}'},
              dataType: 'json',
              complete: function (data) {
                  window.location.reload(true);
              }
          });
      });
</script>




{% endblock %}
