{% extends 'base.html' %}

{% block content %}
<style>
    input{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .small, small {
        font-size: 0.85rem !important;
        font-weight: 400 !important;
    }

	form{
		width: 95%;
	}
	@media(min-width: 992px) {
		form{
			width: 50%;
		}
	}

</style>

    <p><a class="p-2 btn btn-outline-danger mt-4 ml-4" href="{% url 'home' %}">Retour aux articles</a></p>
    {% if error %}
        <p>Une erreur s'est produite ou le pseudo est déjà pris.</p>
    {% endif %}
    <form action="{% url 'update_profil' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p}}
        <input type="submit" value="Mettre à jour" class="btn btn-block btn-danger"/>
    </form>

{% endblock %}

{% block javascript %}

<script>
    // gestion des champs générés par le template de django en anglais
    $('[for="id_username"]').replaceWith('<label for="id_username">Pseudo</label>');

    $('.helptext').replaceWith('<small class="form-text text-muted">Requis. 150 caractères max. Lettres, chiffres et @ . + - _ uniquement.</small>');

    $('[for="id_email"]').replaceWith('<label for="id_email">Email</label>');

    $('[for="id_first_name"]').replaceWith('<label for="id_first_name">Prénom</label>');
    $('[for="id_last_name"]').replaceWith('<label for="id_last_name">Nom</label>');
    $('[for="id_picture"]').replaceWith('<label for="id_picture">Avatar</label>');


</script>
{% endblock %}