{% extends 'base.html' %}
{% block content %}
{%load static%}

<main>
        <!-- Heading Page -->
        <section class="heading-page">
            <img src="{% static ''%}img/bandeau_reseau.jpg" alt="">
            <div class="container">
                <div class="heading-page-content">
                    <div class="au-page-title parcours">
                      <h1>les parcours</h1>
                    </div>
                    <nav aria-label="breadcrumb" class="parcours">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.php">Accueil</a></li><li class="breadcrumb-item"><a href="index.php">Découvrir</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Les parcours</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

		<section class="categories section-padding-larger mt-4">
            <div class="container">
                <div class="section-title section-title-center">
                    <h2>les parcours</h2>
                </div>
            </div>
        </section>
        {{all_playlist}}
        <!-- standard list -->
        <section class="standard-list courses-2">
            <div class="container">
                <!-- FAQ -->
                <div class="faq">
<!--                    <h4 class="title">La collection de parcours</h4>-->
                    <div class="fqa-content">
                        <ul id="accordion">
                          {% for item in all_playlist %}
                            {{item}}
                            <li class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                                         Parcours n°{{item.id}} <i class="la la-list-ul"></i>
                                    </div>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body content">
                                        <div class="single-event-content">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="events-related display-flex background-grey mb-1">
                                                        <article class="item item-prev">
                                                            <figure>
                                                                <a href="single-event.html">
                                                                    <img src="{% static ''%}img/parcours.jpg" alt="AI Development Day">
                                                                </a>
                                                            </figure>
                                                            <div class="info">
                                                                <h3 class="title">
                                                                    <a href="single-event.html">AI Development Day</a>
                                                                </h3>
                                                                <h4 class="desc"><i class="far fa-calendar"></i> 25 fév. 2019</h4>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="events-related display-flex background-grey mb-1">
                                                        <article class="item item-prev">
                                                            <figure>
                                                                <a href="single-event.html">
                                                                    <img src="{% static ''%}img/parcours.jpg" alt="AI Development Day">
                                                                </a>
                                                            </figure>
                                                            <div class="info">
                                                                <h3 class="title">
                                                                    <a href="single-event.html">AI Development Day</a>
                                                                </h3>
                                                                <h4 class="desc"><i class="far fa-calendar"></i> 03 jan. 2019</h4>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="events-related display-flex background-grey mb-1">
                                                        <article class="item item-prev">
                                                            <figure>
                                                                <a href="single-event.html">
                                                                    <img src="{% static ''%}img/parcours.jpg" alt="AI Development Day">
                                                                </a>
                                                            </figure>
                                                            <div class="info">
                                                                <h3 class="title">
                                                                    <a href="single-event.html">AI Development Day</a>
                                                                </h3>
                                                                <h4 class="desc"><i class="far fa-calendar"></i> 03 jan. 2019</h4>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>

{% endblock content %}
