{% extends 'base.html' %}{% load static %}

{% block content %}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<main>



  <section class="heading-page">
      <img src="{% static '' %}img/bandeau_reseau.jpg" alt="">
      <div class="container">
          <div class="heading-page-content">
            {% if cat_id == 1 %}
              <div class="au-page-title parcours">
                <h1>Les images</h1>
              </div>
              <nav aria-label="breadcrumb" class="parcours">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                      <li class="breadcrumb-item"><a href="#">Découvrir</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'toutes_les_capsules' %}">Les posts</a></li>
                      <li class="breadcrumb-item">Images</li>
                  </ul>
              </nav>
            {% endif %}
            {% if cat_id == 2 %}
              <div class="au-page-title posts">
                <h1>Les vidéos</h1>
              </div>
              <nav aria-label="breadcrumb" class="posts">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                      <li class="breadcrumb-item"><a href="#">Découvrir</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'toutes_les_capsules' %}">Les posts</a></li>
                      <li class="breadcrumb-item">Vidéos</li>
                  </ul>
              </nav>
            {% endif %}
            {% if cat_id == 3 %}
              <div class="au-page-title territoires">
                <h1>Les sons</h1>
              </div>
              <nav aria-label="breadcrumb" class="territoires">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                      <li class="breadcrumb-item"><a href="#">Découvrir</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'toutes_les_capsules' %}">Les posts</a></li>
                      <li class="breadcrumb-item">Sons</li>
                  </ul>
              </nav>
            {% endif %}
            {% if cat_id == 4 %}
              <div class="au-page-title communaute">
                <h1>Les récits</h1>
              </div>
              <nav aria-label="breadcrumb" class="communaute">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                      <li class="breadcrumb-item"><a href="#">Découvrir</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'toutes_les_capsules' %}">Les posts</a></li>
                      <li class="breadcrumb-item">Récits</li>
                  </ul>
              </nav>
            {% endif %}

          </div>
      </div>
  </section>


    <section class="blog blog-sidebar section-padding-large">
            <div class="container">
              <div class="section-title section-title-left wow slideInLeft" data-wow-delay="0.05s">
                {% if cat_id == 1 %}
                      <h2>Images</h2>
                {% endif %}
                {% if cat_id == 2 %}
                       <h2>Vidéos</h2>
                {% endif %}
                {% if cat_id == 3 %}
                       <h2>Sons</h2>
                {% endif %}
                {% if cat_id == 4 %}
                       <h2>Récits</h2>
                {% endif %}
               </div>
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="blog-content">
                            <div class="row">

                              {% for item in articles %}

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <article class="item hover-scale">
                                        <figure>
                                            <a href="{% url 'lire' item.id %}">
                                              {% if item.category == 2 %}
                                                  <video controls id="video" src="{{item.file}}" class="img-fluid w-100"></video>
                                              {% else %}
                                                  <img class="img-fluid w-100" src="{{item.file}}" alt="{{item.title}}" />
                                              {% endif %}
                                            </a>
                                            <div class="hover-border">
                                                <a href="single.html">
                                                    <i class="fas fa-link"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="info">
                                            <h3 class="title">
                                                <a href="{% url 'lire' item.id %}">
                                                    {{item.title}}
                                                </a>
                                            </h3>
                                            <p class="desc">
                                                {{ item.title|truncatechars:75 }}
                                            </p>

                                            <div class="meta">
                                              <span class="author"><i class="fas fa-user"></i> {{item.username}}</span>
                                              <span class="date"><i class="far fa-calendar"></i>
                                                <span class="full_date" style="display: none;">{{item.date}}</span>
                                                <span class="good_date"></span>
                                              </span><br>

                                                <span class="likes">
                                                    <i class="fas fa-heart"></i> {{item.like}} j'aime
                                                </span>
                                                <span class="category"><i class="la la-list-ul"></i>
                                                  {% if item.category == 1 %}
                                    							       Image
                                    							{% endif %}
                                    							{% if item.category == 2 %}
                                    							       Vidéo
                                    							{% endif %}
                                    							{% if item.category == 3 %}
                                    							       Audio
                                    							{% endif %}
                                    							{% if item.category == 4 %}
                                    							       Récit
                                    							{% endif %}</span>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <script>
                                  //2019-02-05T23:22:01.714652+01:00
                                  var full_date = $('.full_date').text();
                                  var short_date = full_date.slice(0,10);
                                  var array_date = short_date.split('-');
                                  var m_names = new Array("janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc.");
                                  var nb_month = array_date[1];
                                  var month = parseInt(nb_month);
                                  // console.log(nb_month);
                                  var month_ok = month-1;
                                  console.log(m_names[month_ok]);
                                  var formated_date = array_date[2] + ' ' + m_names[month_ok] + ' ' + array_date[0];
                                  // console.log(full_date);
                                  // console.log(short_date);
                                  // console.log(array_date);
                                  // console.log(formated_date);

                                  $('.good_date').replaceWith('<span id=\"good_date\" class=\"text-right\">Le ' + formated_date + '</span>');
                                </script>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="right-sidebar">

                            <div class="widget_product_categories">
                                <div class="widget-title">
                                  <h2>Trier par territoires</h2>
                                </div>
                                <select class="filters-select filter option-set clearfix form-control custom-select">
                                  <option value="*">Voir tout</option>

                                  {% for item in territoire%}
                                    <option value=".{{item.id}}">{{item.name}}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="widget_signupform">
                                <div class="sign-up-form">
                                    <div class="form-heading">
                                        <a href="index.php"><img src="{% static '' %}img/la_plateforme_03.png" alt="La plateforme vidéo du PoleS"></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
              <ul class="page-numbers">
                {% if articles.has_previous %}
                    <li><a href="?page=1"><i class="la la-angle-left"></i></a></li>
                    <li><a href="?page={{articles.previous_page_number}}" class="page-numbers"> <i class="la la-angle-left"></i> </a></li>
                {% endif %}
                {% for num in articles.paginator.page_range %}
                    {% if articles.number == num %}
                        <li><span aria-current="page" class="page-numbers current">{{ num }}</span></li>
                    {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %}
                        <li><a href="?page={{ num }}" class="page-numbers">&nbsp;{{ num }}&nbsp;</a></li>
                    {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                  <li><a href="?page={{articles.next_page_number}}" class="page-numbers"> <i class="la la-angle-right"></i> </a></li>
                  <li><a href="?page={{articles.paginator.num_pages}}" class="page-numbers"><i class="la la-angle-right"></i> </a></li>
                {% endif %}
              </ul>
            </div>
        </section>
  </div>
</div>


  <script type="text/javascript">
    var $grid = $('.grid').isotope({
  itemSelector: '.element-item',
  layoutMode: 'fitRows'
  });

$('.filters-select').on( 'change', function() {

  var filterValue = this.value;


  $grid.isotope({ filter: filterValue });
  });

	//2019-02-05T23:22:01.714652+01:00
	var full_date = $('.full_date').text();
	var short_date = full_date.slice(0,10);
	var array_date = short_date.split('-');
	var m_names = new Array("janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc.");
	var nb_month = array_date[1];
	var month = parseInt(nb_month);
	// console.log(nb_month);
	var month_ok = month-1;
	console.log(m_names[month_ok]);
	var formated_date = array_date[2] + ' ' + m_names[month_ok] + ' ' + array_date[0];
	// console.log(full_date);
	// console.log(short_date);
	// console.log(array_date);
	// console.log(formated_date);

	$('.good_date').replaceWith('<p class=\"good_date text-right\">Le ' + formated_date + '</p>');
</script>
</main>
{% endblock %}
