<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La plateforme</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href="{% static  ''%}vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static  ''%}vendor/bootstrap/css/bootstrap.min.css">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static  ''%}fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static  ''%}fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static  ''%}fonts/font-awesome-5/css/fontawesome-all.min.css">

    <!-- Revolution slider -->
    <link rel="stylesheet" href="{% static  ''%}vendor/revolution/settings.css">
    <link rel="stylesheet" href="{% static  ''%}vendor/revolution/layers.css">
    <link rel="stylesheet" href="{% static  ''%}vendor/revolution/navigation.css">
    <link rel="stylesheet" href="{% static  ''%}vendor/revolution/settings-source.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static  ''%}vendor/css-hamburgers/dist/hamburgers.min.css">
    <link rel="stylesheet" href="{% static  ''%}vendor/fancybox/dist/jquery.fancybox.min.css">
    <link rel='stylesheet' href="{% static  ''%}vendor/fullcalendar/fullcalendar.css">
    <link rel='stylesheet' href="{% static  ''%}vendor/animate/animate.css">
		<link rel="stylesheet" href="{% static  ''%}vendor/slick/slick-theme.css">
		<link rel="stylesheet" href="{% static  ''%}vendor/slick/slick.css">

    <!-- Main CSS File -->
    <link href="{% static  ''%}css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png">

    <style>
        .heading-page .au-page-title h1, nav[aria-label=breadcrumb] {
            background-color: rgba(243,132,0,0.5);
            padding: 1vh;
        }
    </style>

		<!-- jQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
</head>
<body>
    <!-- page load-->
    <div class="images-preloader">
	    <div id="preloader_1 spinner1" class="spinner1 rectangle-bounce">
	    	<div class="double-bounce1"></div>
	    	<div class="double-bounce2"></div>
	    </div>
	</div>

    <!-- Header page -->
    <header class="header">
        <div class="header-top hidden-tablet-landscape">
            <div class="container">
                <div class="header-top-content display-flex">
                    <div class="header-top-info">
                        <div class="header-socials">
                            <ul>
                              <li><a href="https://www.facebook.com/lePoleSolidaire/?ref=br_rs" target='_blank'><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://www.instagram.com/lepolesidf/?hl=fr" target='_blank'><i class="fab fa-instagram"></i></a></li>
                              <li><a href="https://twitter.com/lepolesidf?lang=fr" target='_blank'><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                        <a href="mailto:info@smartedu.com" class="email"><i class="far fa-envelope"></i>contact@laplateforme.com</a>
                        <a href="#" class="telephone"><i class="fas fa-mobile-alt"></i>01 15 16 17 18</a>
                    </div>
                    <div class="header-top-account">
                        <a href="{% url 'signUp' %}" class="signup"><i class="fas fa-edit"></i>Je participe</a>
                        <a href="{% url 'logIn' %}" class="login">Je me connecte</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-tablet-landscape" id="js-navbar-fixed">
            <div class="container">
                <div class="header-bottom">
                    <div class="header-bottom-content display-flex">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static  ''%}img/la_plateforme.png" alt="La Plateforme">
                            </a>
                        </div>
                        <div class="menu-search display-flex">
                            <nav class="menu">
                                <div>
                                    <ul class="menu-primary">
                                        <li class="menu-item">
                                            <a href="{% url 'home' %}">Accueil</a>
                                            <!--<ul class="sub-menu">-->
                                                <!--<li class="menu-item"><a href="index.html">Home 1</a></li>-->
                                                <!--<li class="menu-item"><a href="index2.html">Home 2</a></li>-->
                                                <!--<li class="menu-item"><a href="index3.html">Home 3</a></li>-->
                                            <!--</ul>-->
                                        </li>
                                        <li class="menu-item curent-menu-item">
                                            <a href="{% url 'cpops' %}">La Communauté</a>
                                            <!--<ul class="sub-menu">-->
                                                <!--<li class="menu-item">-->
                                                    <!--<a href="courses.html">Course 1</a>-->
                                                    <!--<ul class="sub-menu">-->
                                                        <!--<li class="menu-item"><a href="single-course.html">Course Detail</a></li>-->
                                                    <!--</ul>-->
                                                <!--</li>-->
                                                <!--<li class="menu-item"><a href="standardlist.html">Standard List</a></li>-->
                                            <!--</ul>-->
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Découvrir</a>
                                            <ul class="sub-menu">
                                              <li class="menu-item"><a href="{% url 'toutes_les_capsules' %}">Les posts</a></li>
                                              <li class="menu-item"><a href="{% url 'view_collection' %}">Les parcours</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'all_territoires' %}">Territoires</a>
                                            <!--<ul class="sub-menu">-->
                                                <!--<li class="menu-item"><a href="events.html">Events</a>-->
                                                    <!--&lt;!&ndash;<ul class="sub-menu">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<li class="menu-item"><a href="single-event.html">Event Detail</a></li>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        </li>
                                        <!--<li class="menu-item">-->
                                            <!--<a href="blog1.html">News</a>-->
                                            <!--<ul class="sub-menu">-->
                                                <!--<li class="menu-item"><a href="blog1.html">Blog 1</a>-->
                                                    <!--<ul class="sub-menu">-->
                                                        <!--<li class="menu-item"><a href="single.html">Blog detail</a></li>-->
                                                    <!--</ul>-->
                                                <!--</li>-->
                                                <!--<li class="menu-item"><a href="blog2.html">Blog 2</a></li>-->
                                                <!--<li class="menu-item"><a href="blog3.html">Blog 3</a>-->
                                            <!--</ul>-->
                                            <!--</li>-->
                                            <li class="menu-item">
                                                <a href="{% url 'contact' %}">Contact</a>
                                                <!--<ul class="sub-menu">-->
                                                    <!--<li class="menu-item"><a href="{% url 'contact' %}">Contact 1</a></li>-->
                                                    <!--<li class="menu-item"><a href="contact2.html">Contact 2</a></li>-->
                                                    <!--<li class="menu-item"><a href="contact3.html">Contact 3</a></li>-->
                                                <!--</ul>-->
                                            </li>
                                    </ul>
                                </div>
                            </nav>
                            <!--<div class="search-box">-->
                                <!--<form method="POST">-->
                                    <!--<input type="text" placeholder="Search..." id="search-box" name="s" value="">-->
                                    <!--<div class="search-icon display-flex-center">-->
                                        <!--<i class="la la-search"></i>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-tablet-landscape-up header-mobile">
            <div class="header-top-mobile">
                <div class="container-fluid">
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static  ''%}img/la_plateforme.png" alt="La Plateforme" />
                        </a>
                    </div>
                    <!--<div class="search-box">-->
                        <!--<form method="POST">-->
                            <!--<input type="text" placeholder="Search..." name="s" value="">-->
                            <!--<div class="search-icon font-color-white display-flex-center">-->
                                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <button class="hamburger hamburger--spin hidden-tablet-landscape-up" id="toggle-icon">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="au-nav-mobile">
                <nav class="menu-mobile">
                    <div>
                        <ul class="au-navbar-menu">
                            <li class="menu-item">
                                <a href="{% url 'home' %}">Accueil</a>
                                <!--<span class="arrow">-->
                                    <!--<i></i>-->
                                <!--</span>-->
                                <!--<ul class="sub-menu">-->
                                    <!--<li class="menu-item"><a href="index.html">Home 1</a></li>-->
                                    <!--<li class="menu-item"><a href="index2.html">Home 2</a></li>-->
                                    <!--<li class="menu-item"><a href="index3.html">Home 3</a></li>-->
                                <!--</ul>-->
                            </li>
                            <li class="menu-item curent-menu-item">
                                <a href="{% url 'cpops' %}">La communauté</a>
                                <!--<span class="arrow">-->
                                    <!--<i></i>-->
                                <!--</span>-->
                                <!--<ul class="sub-menu">-->
                                    <!--<li class="menu-item">-->
                                        <!--<a href="courses.html">Course 1</a>-->
                                        <!--<ul class="sub-menu">-->
                                            <!--<li class="menu-item"><a href="single-course.html">Course Detail</a></li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li class="menu-item"><a href="standardlist.html">Standard List</a></li>-->
                                <!--</ul>-->
                            </li>
                            <li class="menu-item">
                                <a href="#">Découvrir</a>
                                <span class="arrow">
                                   <i></i>
                               </span>
                                <ul class="sub-menu">
                                  <li class="menu-item"><a href="{% url 'toutes_les_capsules' %}">Les posts</a></li>
                                  <li class="menu-item"><a href="{% url 'view_collection' %}">Les parcours</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'all_territoires' %}">Territoires</a>
                                <!--<span class="arrow">-->
                                    <!--<i></i>-->
                                <!--</span>-->
                                <!--<ul class="sub-menu">-->
                                    <!--<li class="menu-item"><a href="events.html">Events</a>-->
                                        <!--<ul class="sub-menu">-->
                                            <!--<li class="menu-item"><a href="single-event.html">Event Detail</a></li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="menu-item">-->
                                <!--<a href="blog1.html">News</a>-->
                                <!--<span class="arrow">-->
                                    <!--<i></i>-->
                                <!--</span>-->
                                <!--<ul class="sub-menu">-->
                                    <!--<li class="menu-item"><a href="blog1.html">Blog 1</a>-->
                                        <!--<ul class="sub-menu">-->
                                            <!--<li class="menu-item"><a href="single.html">Blog detail</a></li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li class="menu-item"><a href="blog2.html">Blog 2</a></li>-->
                                    <!--<li class="menu-item"><a href="blog3.html">Blog 3</a>-->
                                <!--</ul>-->
                                <!--</li>-->
                                <li class="menu-item">
                                    <a href="{% url 'contact' %}">Contact</a>
                                    <!--<span class="arrow">-->
                                    <!--<i></i>-->
                                <!--</span>-->
                                    <!--<ul class="sub-menu">-->
                                        <!--<li class="menu-item"><a href="{% url 'contact' %}">Contact 1</a></li>-->
                                        <!--<li class="menu-item"><a href="contact2.html">Contact 2</a></li>-->
                                        <!--<li class="menu-item"><a href="contact3.html">Contact 3</a></li>-->
                                    <!--</ul>-->
                                </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- <div class="clear"></div> -->
            <div class="header-top">
                <div class="container-fluid">
                    <div class="header-top-content display-flex">
                        <div class="header-top-info">
                            <a href="tel:04445552222" class="telephone"><span><i class="fas fa-mobile-alt"></i></span> 06 63 74 11 35</a>
                            <a href="mailto:contact@.laplateforme.com" class="email"><span><i class="far fa-envelope"></i></span> contact@.laplateforme.com</a>
                        </div>
                        <div class="header-top-account">
                            {% if not request.session.token %}
                                   <a href="{% url 'signUp' %}" class="login"><i class="fas fa-user"></i>Je participe</a>
					                         <a class="btn btn-outline-danger btn-lg" href="{% url 'logIn' %}" role="button">Je me connecte</a>
				                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
{% block content %} {% endblock %}

{% block javascript %} {% endblock %}
<footer class="footer">
		<div class="footer-top">
				<div class="container">
						<div class="footer-top-content">
								<div class="row">
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 footer-info">
												<div class="footer-logo">
														<a href="indexOLD.html"><img src="{% static  ''%}img/la_plateforme_02.png" alt="SmartEdu"></a>
												</div>
												<p class="footer-intro">
														Proin libero nunc conseq interdum varius sit amet. Metus ali elei mi in nulla posuere. Tortor preti viverra suspendisse potenti nul ac.
												</p>
												<div class="socials">
														<ul>
                              <li><a href="https://www.facebook.com/lePoleSolidaire/?ref=br_rs" target='_blank'><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://www.instagram.com/lepolesidf/?hl=fr" target='_blank'><i class="fab fa-instagram"></i></a></li>
                              <li><a href="https://twitter.com/lepolesidf?lang=fr" target='_blank'><i class="fab fa-twitter"></i></a></li>
														</ul>
												</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 footer-menu">
												<div class="footer-title">
														<h4>Liens utiles</h4>
												</div>
												<div class="footer-link-menu">
                          <ul>
                              <li><a href="{% url 'home' %}"><i class="la la-angle-right"></i>Accueil</a></li>
                              <li><a href="{% url 'cpops' %}"><i class="la la-angle-right"></i>La communauté</a></li>
                              <li><a href="{% url 'toutes_les_capsules' %}"><i class="la la-angle-right"></i>Les posts</a></li>
                              <li><a href="{% url 'view_collection' %}"><i class="la la-angle-right"></i>Les parcours</a></li>
                              <li><a href="{% url 'all_territoires' %}"><i class="la la-angle-right"></i>Territoires</a></li>
                              <li><a href="{% url 'contact' %}"><i class="la la-angle-right"></i>Contact</a></li>
                          </ul>
														<ul>
																<li><a href="#"><i class="la la-angle-right"></i>Qui sommes-nous ? </a></li>
																<li><a href="#"><i class="la la-angle-right"></i>A propos</a></li>
																<li><a href="#"><i class="la la-angle-right"></i>FAQ</a></li>
																<li><a href="#"><i class="la la-angle-right"></i>L'appli</a></li>
																<li><a href="#"><i class="la la-angle-right"></i>Contact</a></li>
														</ul>
												</div>
										</div>
										<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 footer-gallery">
												<div class="footer-title">
														<h4>Galerie</h4>
												</div>
												<div class="footer-gallery-content">
														<figure>
																<a href="{% static  ''%}img/galerie_footer_fresque.jpg" class="grouped_elements" data-fancybox="gallery">
																		<img src="{% static  ''%}img/galerie_footer_fresque.jpg" alt="">
																</a>
														</figure>
														<figure>
																<a href="{% static  ''%}img/galerie_footer_st_exupery.jpg" class="grouped_elements" data-fancybox="gallery">
																		<img src="{% static  ''%}img/galerie_footer_st_exupery.jpg" alt="">
																</a>
														</figure>
														<figure>
																<a href="{% static  ''%}img/carre_tarek_benkherouf.jpg" class="grouped_elements" data-fancybox="gallery">
																		<img src="{% static  ''%}img/carre_tarek_benkherouf.jpg" alt="">
																</a>
														</figure>
														<figure>
																<a href="{% static  ''%}img/carre_don_juan.jpg" class="grouped_elements" data-fancybox="gallery">
																		<img src="{% static  ''%}img/carre_don_juan.jpg" alt="">
																</a>
														</figure>
														<figure>
																<a href="{% static  ''%}img/carre_kilic_aslan.jpg" class="grouped_elements" data-fancybox="gallery">
																		<img src="{% static  ''%}img/carre_kilic_aslan.jpg" alt="">
																</a>
														</figure>
														<figure>
																<a href="{% static  ''%}img/carre_le_canal.jpg" class="grouped_elements" data-fancybox="gallery">
																		<img src="{% static  ''%}img/carre_le_canal.jpg" alt="">
																</a>
														</figure>
												</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 footer-contact">
												<div class="footer-title">
														<h4>Infomations</h4>
												</div>
												<ul>
														<li>
																<i class="fas fa-map-marker-alt"></i>
																<span>LePoleS - 11 allée Saint-Exupéry 92390 Villeneuve-la-Garenne</span>
														</li>
														<li class="footer-phone">
																<i class="fas fa-mobile-alt"></i>
																<span>01 45 65 69 68</span>
														</li>
														<li class="footer-fax">
																<i class="fas fa-fax"></i>
																<span>01 15 16 18 14</span>
														</li>
														<li>
																<i class="far fa-envelope"></i>
																<span>contact@laplateforme.com</span>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="footer-bottom">
				<div class="container">
						<div class="footer-bottom-content">
								<p class="copyright">Tout droits réservés @ 2019 <a class="au-btn-buy" href="http://lepoles.org/"><span>LePoleS</span>. </a></p>
						</div>
				</div>
		</div>
</footer>


<!-- Back to top -->
<div id="back-to-top">
		<i class="fa fa-angle-up"></i>
</div>

<!-- JS -->

<!-- Jquery and Boostrap library -->
<script src="{% static  ''%}vendor/bootstrap/js/popper.min.js"></script>
<script src="{% static  ''%}vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Other js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEmXgQ65zpsjsEAfNPP9mBAz-5zjnIZBw"></script>
<script src="{% static  ''%}js/theme-map.js"></script>
<script src="{% static  ''%}js/jquery.countdown.min.js"></script>
<script src="{% static  ''%}js/masonry.pkgd.min.js"></script>
<script src="{% static  ''%}js/imagesloaded.pkgd.js"></script>
<script src="{% static  ''%}js/isotope-docs.min.js"></script>

<!-- Vendor JS -->

<script src="{% static  ''%}vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="{% static  ''%}vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="{% static  ''%}vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="{% static  ''%}vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="{% static  ''%}vendor/sweetalert/sweetalert.min.js"></script>
<script src="{% static  ''%}vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<script src='{% static  ''%}vendor/fullcalendar/lib/moment.min.js'></script>
<script src='{% static  ''%}vendor/fullcalendar/fullcalendar.min.js'></script>
<script src='{% static  ''%}vendor/wow/dist/wow.min.js'></script>
<script src="{% static  ''%}vendor/slick/slick.min.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="{% static  ''%}vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="{% static  ''%}vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- Form JS -->
<script src="{% static  ''%}js/validate-form.js"></script>
<script src="{% static  ''%}js/config-contact.js"></script>

<!-- Main JS -->
<script src="{% static  ''%}js/main.js"></script>

<script>
		$('[src="None"]').replaceWith("<img src=\"{% static '../static/img/utilisateur.jpg' %}\" class=\"w-100 img-fluid\" style=\"min-height: 17vh !important; max-height: 30vh !important;\">");
</script>
</body>
</html>
